body{
    margin: 0;
    padding: 0;
}
.barranavegacion{
    background-color: rgb(97, 124, 182);
}

.logo img{
    width: 27%;
    position: relative;
    left: 80%;
}
.empresa{
    position: relative;
    right: 30%;
    top: 10%;
    font-family: 'Crimson Pro', serif;
}
.icono{
    margin-left: 5%;
}
.botonuno, .botondos{
    text-decoration: none;
    background-color: rgb(97, 124, 182);
    font-size: 17px;
    color: white;
    font-family: 'Crimson Pro', serif;
    padding: 4%;
    transition: 1s;
}
.botondos{
    margin-right: 5%;
    border-radius: 5%;
    padding: 9%;
}
.botonuno{
    border-radius: 3%;
    margin-left: 16%;

}
.botonuno:hover, .botondos:hover{
    color: white;
    background-color: gray;
}
.soloresponsive{
    display: none;
}
.sectionuno{
    font-family: 'Crimson Pro', serif;
    margin-top: 10%;
}
.sectionuno h1{
    color: rgb(97, 124, 182);
}
.sectiondos{
    font-family: 'Crimson Pro', serif;
}

/* cards */
.carduno img{
    width: 40%;
}
.carduno i{
    font-size: 28px;
    margin-left: 40%;
   position: relative;
   top: -10%;
   color: rgb(204, 161, 112);
   transition: 1s;
}
.carduno i:hover{
    color: rgb(167, 186, 228);
}
.vermas{
    text-decoration: none;
    background-color: rgb(204, 161, 112) ;
    color: white;
    border-radius: 5%;
    padding: 2%;
    transition: 1s;
}
.vermas:hover{
    background-color: rgb(97, 124, 182);
    color: white;
}
.solosubscriptores{
    font-family: 'Crimson Pro', serif;
}
.botontres{
    display: none;
}
.solosubscriptores h5 a{
    text-decoration: none;
    background-color:  rgb(204, 161, 112);
    color: white;
    padding: 0.5%;
    border-radius: 2%;
    transition: 1s;
}
.solosubscriptores h5 a:hover{
    background-color: rgb(97, 124, 182);
}
.solosubscriptores h4{
    font-size: 30px;
}
/* dispositivo pequeño */
@media(max-width: 480px){
.sectionuno{
    margin-top: 5%;
}
.soloresponsive{
    text-decoration: none;
    display: block;
    color: black;
    margin-top: 20%;
    margin-left: 63%;
    background-color: rgb(97, 124, 182);
    font-size: 15px;
    color: white;
    font-family: 'Crimson Pro', serif;
    padding: 2%;
    width: 38%;
    border-radius: 3%;
}
.soloresponsive:hover{
    color: white;
    background-color: gray;
}
.botonuno{
    display: none;
}
.botondos{
   position: absolute;
   left: 80%;
   padding: 1%;
   top: 30%;
}
.logo img{
    width: 70%;
    position: relative;
    left: 0%;
    top: 20%;
}
.empresa{
    position: relative;
    right: 50%;
    top: 25%;
    font-family: 'Crimson Pro', serif;
}
.icono{
    margin-left: 10%;
}
.card img{
  margin-left: 30%;
  position: relative;
  margin-bottom: -1%;
}
.card{
    width: 80%;
    margin-left: 10%;
}
.carduno i{
    font-size: 30px;
    margin-left: 65%;
   position:relative;
   margin-top: -15%;
   color: rgb(204, 161, 112);
   transition: 1s;
}
.solosubscriptores h4{
    margin-left: 25%;
}
}